@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Protest+Riot&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --bradius: 18px;
    --bshadow: 2px 2px 10px white;
    --border: 1px solid white;
    --cursor: pointer;
    --font: 'Poppins', sans-serif;
    --font2: 'Protest Guerrilla', sans-serif;
    --font3:"Protest Riot", sans-serif;
    --blur: blur(10px);
    --transition: 0.3s ease-in;
}

.myProfile{
    background-image: url(Assests/navBG.jpg);
    width: 100vw;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: fixed;
}

.logo{
    
    color: rgb(4, 255, 50);
    margin-left: 10px;
    position: absolute;
    margin-top: 15px;
    cursor: pointer;
    font-family: var(--font3);
    font-weight: 300;
    font-size: 18px;
    padding: 6px 15px;
    letter-spacing: 1.5px;
    border-radius: var(--bradius);
}

.logo:hover{
    color: rgb(4, 201, 255);
    transition: 0.4s ease-in-out;
    box-shadow: var(--bshadow);
    
}

#navClickMeBtn{
  display: none;
}
#closeNavBar {
    font-size: 13px;
    right: 2%;
    top: 0.5%;
    padding: 5px 10px ;
    border-radius: var(--bradius);
    cursor: pointer;
    position: absolute;
    background: transparent;
    border: var(--border);
    display: none;
    z-index: 1000;
}

#closeNavBar:hover{
    box-shadow: 2px 2px 5px red;
    transition: 0.4s ease-in-out;
    /* background-color: aqua; */
    border: 1px solid red;
    scale: 1.01;
}


#logoImg{
    width: 200px;
    right: 0;
    position: absolute;
    transform: translate(15%, -25%);
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: space-around;
    width: 680px;
    position: sticky;
    transform: translate(75%, -40%);

}

.nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 30px;
    transform: translate(0, 100%);
}
.nav ul li{
    font-family: var(--font3);
    letter-spacing: 1.5px;
    font-weight: 500;
    color: white;
    cursor: var(--cursor);
    border-radius: var(--bradius);
    border: var(--border);
    background-image: url(Assests/navBG.jpg);
    background-size: cover;
    background-position: center;
    padding: 6px 25px;
    text-align: center;
    border: 1px solid white;
    

}
.nav ul li:hover{
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 10px rgb(2, 213, 255);
    /* border: var(--border); */
    color: rgb(4, 255, 50);
}
.nav a{
    font-size: 20px;
    
    text-decoration: none;
    color: rgb(255, 255, 255);    
}
.nav a:hover , .nav button:hover{
    color: rgb(4, 255, 50);
    transition: 0.3s ease-in-out;
    
}
.nav button{
    background: transparent;
    border: none;
    font: var(--font3);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.profile{
    border: var(--border);
    
    z-index: 1;
    transform: translate(30%, 40%);
    width: 360px;
    height: 360px;
    border-radius: 50%;
    cursor: var(--cursor);
}
.profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    z-index: -1;
    transform: translateY(0%);
    cursor: pointer;
    box-shadow: var(--bshadow);
    
}
.profile img:hover{
    scale: 1.05;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.myProfileCard{
    width: 28%;
    top: 10%;
    left: 40%;
    border-radius: var(--bradius);
    box-shadow: var(--bshadow);
    position: absolute;
    animation: fade 0.3s ease-in;
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(1000px);
    }
    to{
        opacity: 1;
        transition: var(--transition);
    }
    
}
.myProfileCard:hover{
    scale: 1.02;
    transition: var(--transition);
    box-shadow: 2px 2px 10px rgb(0, 0, 0);

}
h2{
    right: 3%;
    margin-top: 80px;
    color: aqua;
    font-family: var(--font3);
    letter-spacing: 2px;
    padding: 10px 15px ;
    border-radius: var(--bradius);
    border-bottom: 2px dotted rgb(255, 0, 247);
    position: absolute;
}
.downloadBtn{
    position: absolute;
    right: 9%;
    padding: 5px 10px ;
    font-size: 20px;
    text-align: center;
    border-radius: var(--bradius);
    cursor: pointer;
    font-family: var(--font3);
    color: red;
    letter-spacing: 1px;
    border: var(--border);
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    transform: translateY(160px);
}
.downloadBtn:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  background: rgba(255, 255, 255, 0.1); /* transparent glass feel */
  backdrop-filter: blur(5px);
  text-align: center;
  padding: 10px 0;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  left: 25%;
  border-radius: var(--bradius);
  /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
}

@media (max-width:500px){
    .myProfile{
        position: fixed;
        overflow: scroll;
        overflow-x: hidden;
        /* padding-bottom: 30px; */
    }
    .logo{
    font-size: 12px;
    margin-top: 10px;
    margin-left: 45px;
    padding: 3px 10px;
  }

  #logoImg{
    width: 50px;
    left: 0;
    top: 2%;
  }
  
  .nav{
    transform: translate(15px , 3px );
    position: absolute;
    visibility: hidden;
    z-index: 999;
  }


  
  .nav ul{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    top: 0%;
    transform: translate(-42%, -1%);
    gap: 15px;
    background: linear-gradient(130deg , aqua , rgb(108, 173, 108) , pink , red);
    padding: 30px;
    border-radius: 0px 0px 28px 28px ;
    box-shadow: 10px 30px 50px black;
    z-index: 1;
  }



  #navClickMeBtn{
    display: flex;
    width: 60px;
    z-index: 10;
    right: 1%;
    transform: translateY(-5px);
    position: absolute;
  }

  .profile{
    transform: translate(15%, 20%);
    width: 300px;
    height: 300px;
  }
  .myProfileCard{
    width: 85%;
    transform: translate(-38% , 70%);
    
  }
  h2{
    font-size: 18px;
    letter-spacing: 1.5px;
    top: 100%;
    left: 20px;
    
    /* position: relative; */
  }
  .downloadBtn{
    transform: translate(-30px , 700px);
    margin-bottom: 100px;
    /* position: relative; */
  }
  
  footer{
   
    width: 70%;
    padding: 10px ;
    font-size: 11px;
    left: 55px;
    display: none;
  }
}

@media (min-width:501px) and (max-width:800px){
    .myProfile{
        position: fixed;
        overflow: scroll;
        overflow-x: hidden;
        /* padding-bottom: 30px; */
    }
    .logo{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 75px;
    padding: 5px 15px;
  }

  #logoImg{
    width: 80px;
    left: 0;
    top: 2%;
  }
  .nav{
    transform: translate( 365px);
    position: absolute;
    right: 5%;
    visibility: hidden;
    z-index: 999;
  }


  
  .nav ul{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    top: 0%;
    transform: translate(-42%, -1%);

    background: linear-gradient(130deg , aqua , rgb(108, 173, 108) , pink , red);
    padding: 50px;
    border-radius: 0px 0px 28px 28px ;
    box-shadow: 10px 30px 50px black;
    z-index: 1;
  }



  #navClickMeBtn{
    display: flex;
    width: 80px;
    z-index: 10;
    right: 1%;
    transform: translateY(-5px);
    position: absolute;
  }

  .profile{
    transform: translate(55%, 40%);
    width: 360px;
    height: 360px;
  }
  .myProfileCard{
    width: 85%;
    transform: translate(-38% , 55%);
    
  }
  h2{
    top: 115%;
    left: 15%;
    text-align: center;
    width: 500px;
  }
  .downloadBtn{
    top: 127%;
    transform: translateX(-80%);
  }
  
  footer{
   
    width: 70%;
    padding: 10px ;
    font-size: 11px;
    left: 55px;
    display: none;
  }
}

@media (min-width:801px) and (max-width:1200px){
    #logoImg{
    width: 110px;
    left: 0;
    top: 2%;
  }

  .logo{
    font-size: 18px;
    margin-top: 15px;
    margin-left: 115px;
    padding: 5px 15px;
  }
  .nav{
    transform: translate( 365px);
    position: absolute;
    right: 4%;
    visibility: hidden;
    /* max-width: 500px;
    width: 100%; */
    z-index: 999;
  }


  
  .nav ul{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    top: 0%;
    transform: translate(-42%, -1%);

    background: linear-gradient(130deg , aqua , rgb(108, 173, 108) , pink , red);
    padding: 50px;
    border-radius: 0px 0px 28px 28px ;
    box-shadow: 10px 30px 50px black;
    z-index: 1;
  }



  #navClickMeBtn{
    display: flex;
    width: 130px;
    z-index: 10;
    right: 0%;
    transform: translateY(-18%);
    position: absolute;
  }
  .myProfileCard{
    width: 40%;
    left: 50%;
  }
  h2{
    left: 4%;
    width: 450px;
    text-align: center;
    transform: translateY(180px);
  }
  .downloadBtn{
    /* left: 13%; */
    transform: translate(-280% , 520%);
  }
}
